
*{
    margin: 0;
}
/* header */

#logo_wrapper {
    padding-left: 1rem;
}

#logo_img {
    width: 13rem;
    height: 3rem;
}

.icons {
    width: 1rem;
    height: 1rem;
    position: relative;
    top: 4px;

}

.navbar {
    display: flex;
    flex-direction: row;
    height: 5rem;
    align-items: center;
    z-index: 2;
    top: 0;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 8rem;
}

.navbar_li {
    list-style-type: none;
    margin: 0 2rem;
}

.navbar_li a {
    text-decoration:none;
    color: black;
}

.header {
    background-image: url('img/09-day.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* header */

/* main */

/* main */